@media (min-width:640px)
{



			body{
				background-color: FFFBAE ;
			margin: 10px; font-family: lato; font-size: 20px; font-weight: 650; color:6B6433; font-variant: small-caps; }


			header{
				background-color: lightblue; 
			}

			header img{
			 width: 120px;
			 margin: 30px;}
	

			nav{
				background-color: lightgreen;
				padding: 10px;
			}
			nav a{
				color:6EBE6E ;
				padding: 50px;
				text-decoration: underline; font-weight: bold;
			} 
			nav a:hover{ 
				color:5D7F99;
				} /*czy da siÄ™ to jakoÂœ zawrzeÄ‡ w sekcji nav? czy ma byÄ‡ pod spodem tak jak ja to napisaĹ‚am*/

				section img{
					display:inline;
					height:200px;
				}

			aside{
				padding: 20px;
			}


			footer{
				padding: 15px;
				clear: both;
				background-color:910152 ;
			}