body{
font-family: Arial, Helvetica, Verdana, comic }	

background-color:white;
	margin: 0px;
}



header{
	background-color: #F5F5F5;margin: 2px;
}




nav{
	background-color: Gainsboro;
	padding: 40px;
}



nav a{
	color: white;
	padding: 60px;
	text-decoration: blink;
text-color: grey;
}




section{
	width: 75%;
	float: left;
text-align: justify}


section.menuPoPrawej{
	width: 25%;
	float: right;
	background-color: white;
}



aside{
	padding: 70px;
}



footer{
	padding: 10px;
	clear: both;
	background-color: white;
}