body{
	font-family: 'Roboto';
}

h2{
	margin-left: 30px;
}

.lista {
	float:left;
	clear:both;
	background-color: #748BA7;
	width: 90%;
	padding: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top:20px;
}

.logo {
	float:left;
	width:35%;
	padding-right:15%;
}

.desc{
	float:left;
	width:50%;
}

.tel {
	width: 10%;
}